@import url('https://fonts.googleapis.com/css2?family=Fredoka:wdth,wght@75..125,300..700&display=swap');

.fredoka {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background-color: #FCF9F3;
  font-family: fredoka;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/*------------MENU----------*/
header{
  background-color: #EEE7D4;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

header #logo{
  width: 150px;
  margin-top: 10px;
}

header #dog1 {
  height: 75px;
  position: relative;
  top: 15px;
}

header .imgs-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  height: auto;
}

header #user {
  height: 45px;
  border-radius: 100px;
}

header .options{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FCF9F3;
  margin-top: 12px;
}

header .options a{
  margin-right: 15px;
  font-size: 1.3rem;
  font-weight: 500;
  color: #452824;
  text-decoration: none;
}

header .options a:hover{
  color: #e58233;
}


/*------------FILTERS-------------*/

.filters {
  display: flex;
  justify-content: left;
  margin: 30px 0 5px 100px;
}

.filters button {
  margin-left: 10px;
  font-weight: 700;
  font-size: 1.3rem;
  background-color: #e58233;
  border: none;
  border-radius: 13px;
  width: auto;
  padding: 5px 10px 5px 10px;
}

.filters .dog-cat button{
  background-color: #452824;
  color: white;
}

.filters button:hover {
  background-color: #452824;
  color: white;
}

.filters .dog-cat button:hover {
  background-color: #e58233;
}

.opcoes {
  display: none;
  flex-direction: column;
  text-align: left;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #FCF9F3;
  min-width: 100px;
  padding: 5px px 5px 0;
  text-align: left;
}

.dropdown {
  position: relative;
  display: block;
}

.btnOpcoes:hover {
  color:#e58233 !important;
}

/*------------PETS-------------*/
.pets{
  margin-top: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  place-items: center;
}

.pets div{
  display: flex;
  flex-direction: column;
  color: black;
  background-color: #F2F2F2;
  padding: 10px;
  width: 250px;
  height: 350px;
  margin: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  
}

.pets div img{
  height: 250px;
  width: 250px;
}

.pets .name {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0px;
}

.pets .infos-pet {
  margin-top: 0px;
  font-size: 1.3rem;
}

.pets #pata1 {
  width: 75px;
  position: relative;
  bottom: 50px;
  left: 210px;
  transform: rotate(350deg);
}

/*-----------FOOTER---------*/
footer{
  background-color: #EEE7D4;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

footer .logo-footer{
  height: 158px;
  margin-bottom: 15px;
  margin-right: 100px;
}

@media (max-width: 768px) {
  header{
  flex-direction: column;
}

header #logo{
  width: 130px;
  margin-top: 5px;
}

header #dog1 {
  height: 45px;
  top: 5px;
}

header .options{
  align-items: center;
  margin-top: 12px;
  gap: 20px;
}

.filters {
  justify-content: center;
  margin: 20px 10px 10px 20px;
}

.filters button {
  margin-left: 5px;
  margin-right:5px;
  font-weight: 700;
  font-size: 1.15rem;
  padding: 5px 10px 5px 10px;
}

.pets{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  place-items: center;
}

.pets div{
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 150px;
  height: 230px;
  margin: 50px;  
}

.pets div img{
  height: 150px;
  width: 150px;
}

.pets .name {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0px;
}

.pets .infos-pet {
  margin-top: 0px;
  font-size: 1.1rem;
}

.pets #pata1 {
  width: 60px;
  bottom: 50px;
  left: 120px;
}

}