:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  background-color: #FCF9F3;
}

/*------------MENU----------*/
header{
  background-color: #EEE7D4;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
}

header .logo{
  text-align: start;
}

header .options{
  text-align: end;
}

header .options a{
  margin: 10px;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

/*------------PETS-------------*/
.pets{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px;
}

.pets div{
  display: flex;
  flex-direction: column;
  color: black;
  background-color: #F2F2F2;
  padding: 10px;
}

.pets div img{
  height: 100px;
  width: 90px;
}

/*-----------FOOTER---------*/
footer{
  background-color: #EEE7D4;
  height: 150px;
  color: #000000;
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

footer .logo-footer{
  height: 100px;
  width: 100px;
}
